body{
    background-color: rgb(157, 250, 219);
    font: normal 19px Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 4px 6px rgb(90, 145, 126);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}